<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div id="disqus_thread"></div>
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://mywebsite-zfys5iklbj.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
</head>
<body>
<div id="content">
    <p class="title">{{ post.title }}</p>
    <img src="{{ post.image.url }}">
    <p>{{ object.description }}</p>
    <li>Created Date: {{  object.create_date  }}</li>
    <li>Modified Date: {{  object.modify_date  }}</li>
</div>
</body>
</html>